<div id="topbar">
	<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" style="position: fixed;width: 100%;top: 0;">
		<div class="navbar-header">
			<a data-turbolinks="false" href="/">
				<img src="http://ocp.zzz.com.ua/assets/istgr/instogroom-new.png" width="35" height="35" />
			</a>
		</div>

		<a
			data-turbolinks="false"
			href="/"
			class="ml-3 navbar-brand"
			style="font-size: 2rem"
		>
			Instogroom</a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item text-dark" data-turbolinks="false">
					<a href="/explores" class="nav-link text-dark">Explores</a>
				</li>
				<li class="nav-item text-dark" data-turbolinks="false">
					<a href="/" class="nav-link text-dark">Watterfall</a>
				</li>
				<li
					class="nav-item text-dark"
					data-turbolinks="false"
					data-toggle="modal"
					data-target="#exampleModal"
				>
					<a href="javascript:void(0)" class="nav-link text-dark"
						>Add new instopic</a
					>
				</li>
				<li class="nav-item text-dark" data-turbolinks="false">
					<a href="/profile" class="nav-link text-dark">
						<img src="http://ocp.zzz.com.ua/assets/istgr/profile.png" width="30" height="30" />
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Modal -->
	<div
		class="modal fade"
		id="exampleModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Create new Instapic
					</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" v-if="!store.showLoader">
					<div>
						<file-pond name="test" ref="pond" max-file-size="5MB"></file-pond>
					</div>

					<div class="form-group">
						<label for="exampleFormControlTextarea1">Description</label>
						<textarea
							v-model="formInstopic.description"
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="3"
						></textarea>
					</div>
				</div>
				<div class="modal-body" v-else>
					<div class="spinner-border m-5" role="status">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button
						type="button"
						@click="submitAddInstopic"
						class="btn btn-secondary"
					>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://unpkg.com/filepond-plugin-image-preview"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
<script src="https://unpkg.com/filepond"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-filepond"></script>
<%= javascript_include_tag 'topbar', 'data-turbolinks-track': 'reload', 'type':
'module' %>
