<div id="topbar">
	<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" style="position: fixed;width: 100%;top: 0;">
		<div class="navbar-header">
			<a data-turbolinks="false" href="/">
				<img src="https://00e9e64bac7ca8e18a9d131e770905b7d9ba5aa84d917f44cc-apidata.googleusercontent.com/download/storage/v1/b/instogroom-bucket/o/images%2Finstagram-new.png?qk=AD5uMEtAgDHpwo8FLwfCYdIOzjxADhrWPVKlpYQCPWi1qTX69rtr3Btw5dygnZGBAg2P5c_oqG3i23SxVd4GlqbbvZklSalS8sh-wcuf-rkzS51kstSuuMf9OPYQhBfyJ4zys0-0SZfEVW_QY5TXn_hYJBfHNS7fW2NekbRN8pGM-672VTpDIbEMUEvuoH6OvPJmhB-j862HlA-ZTV1BsWEKhGMkSNuXg18LnKrJ3eu6yf_L9iE5YbNYl8pokN1RoVgzqNnr2OQiMiAaWfnzPmzA9IGLHU9GqlKzP2b6CZO_ybefT2r3TxKznbsaHWBSQHRTM7r3Tzo3xI8m3B4Z4OdxNpzpHCucmE0w9Al7qr_iBiHZjwV94dHzwvdW2kTyiDh-e6xuLVDQkN4UQxT_6e6Vr_u4HkFHDfHtQKAMl5__89V0wRywrA18njPBjS2ZRvpKNGF9u1IB31evLFN_0jbvgluXQZuqi9QMzofVOnqSvjqENaexBGh7VGE71qmgX3VbM10GqEtfhf95HJUdhrUdK9hqjF4ORdp46YCDJq5LlFHWYlXWcVwTnJo85SVWFRvl9se7QsAIjKiETAIiLYgtagFoe_qzrNXS5jr65fZlT7EIZB35tqjFt-8fumN2JKSIMaaC7OGM6KBMUUVTzqKVAiP7EN5dTAlWTJbB93QbOPqWFf_TW4rH-vI_gZaxXcC2eHw31PUUH2U6YjcBRTWnMZw5KnMa7MZYnt_UA8KteGui6pTI2dObNn0pigRn-s-oFHN-YzAcC8yE0V44SxMrnCnULRp9mTDxRRiRTbpJQLTM-ArHbT4" width="35" height="35" />
			</a>
		</div>

		<a
			data-turbolinks="false"
			href="/"
			class="ml-3 navbar-brand"
			style="font-size: 2rem"
		>
			Instogroom</a
		>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item text-dark" data-turbolinks="false">
					<a href="/explores" class="nav-link text-dark">Explores</a>
				</li>
				<li class="nav-item text-dark" data-turbolinks="false">
					<a href="/" class="nav-link text-dark">Watterfall</a>
				</li>
				<li
					class="nav-item text-dark"
					data-turbolinks="false"
					data-toggle="modal"
					data-target="#exampleModal"
				>
					<a href="javascript:void(0)" class="nav-link text-dark"
						>Add new instopic</a
					>
				</li>
				<li class="nav-item text-dark" data-turbolinks="false">
					<a href="/profile" class="nav-link text-dark">
						<img src="https://00e9e64bac30bb1b8fbef500e22ba9f54d9153b84370a07d63-apidata.googleusercontent.com/download/storage/v1/b/instogroom-bucket/o/images%2Fprofile.png?qk=AD5uMEtWM_yeTmqxBIGi_vHuHgG6ABrREjoEvaHO0zAdFkPvH88kiFv8LNAbtLCxTRsQviaKtuo_LFbtcQ0E8IKd1sdd98y_4JpMLK_XJzudx0hzg3b2C4e8Ucn73GaVsKszaV7v54UrRWn8qj1HpLalwweKK5S7nH5MBK-yriwin2K9bCrrnh1smEMVEg4d2PeRExKdu6KWCEQe_64vzBk19YCWT-ET8wFjMTQ1cz0wQ1R9-nLbwdj_4PpSkNwbdpQZVohMa2w9ugpfHlfHTzfZ9IIYOL-3J2xLPu4d9s5lP06SRVAubiJdnwDpLDZJoVrihKz8gk9I8dfEEa0evqHP1QWW-b2NryBgRqL2bXpJEKfrj42UemJrohUq1A_E93xiAtk7piPK7uBrOBM9QF-DMcxzZbuGy84HGcLjKt-3-xySFDeDxs_Z6vKzr9gF_j5oF09xwMav0ddnInbhtgMPOC4eT4LOiG_2uYLF3wZuh3tiPdmWusd3vXiTy98OxM-vwr2WA5RvABsOz2K9gE9tLkSY0t1ZAdRzMubGEqkIF4rdbJ55LDDYZKu2XSaccKfFRTZpzkzcRBPysB_z3fIS56egusIlhYM17VZQyuu1apb9t1LQVJbLTVbd0-9wy44SCi8r4GF4jt3gcGJPuJicZ-qhsjohzE3ws5WGlK-By1Z7SNev5nkM5LTbFxiJwpsR4pvXGbrDvZckFb5QNNM0DitlkgGWat164QplzjT0KRWtoqkQptxmDI6098hVaMO28HD45tk5vSGv99PPsxfyOnrqD0IKww" width="30" height="30" />
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Modal -->
	<div
		class="modal fade"
		id="exampleModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						Create new Instapic
					</h5>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<file-pond name="test" ref="pond" max-file-size="5MB"></file-pond>
					</div>

					<div class="form-group">
						<label for="exampleFormControlTextarea1">Description</label>
						<textarea
							v-model="formInstopic.description"
							class="form-control"
							id="exampleFormControlTextarea1"
							rows="3"
						></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button
						type="button"
						@click="submitAddInstopic"
						class="btn btn-secondary"
					>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://unpkg.com/filepond-plugin-image-preview"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
<script src="https://unpkg.com/filepond"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-filepond"></script>
<%= javascript_include_tag 'topbar', 'data-turbolinks-track': 'reload', 'type':
'module' %>
