@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

h2 {
    font-family: 'Cookie', cursive;
    text-align: center;
}
.fields {
    margin-top: 7rem;
    margin-left: 30rem;
    border: 1px solid gainsboro;
    width: 400px;
    background: #FAFAFA;
}
.field input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    margin-left: 6rem;
    
    
}
.field input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    margin-left: 6rem;
    
}
.actions {
    margin-left: 6rem;
    
}
 pre {
    text-align: center;
    font-weight: bold;
 }
 .lable {
    margin-left: 6rem;
    font-family: 'Source Sans Pro', sans-serif;
 }
 .check {
    margin-left: 6rem;
 }
 input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: #f0ad4e ;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    width: 80%;
  }
  
 .Signup {
    margin-top: 10px;
    margin-left: 7rem;
    cursor: pointer;
  } 
  .Forgotpassword {
      margin-top: 10px;
    margin-left: 7rem;
    cursor: pointer;
  
  }
  .Login {
    margin-top: 10px;
    margin-left: 12rem;
    cursor: pointer;
  }
  