<div id="watterfall">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-md-12 mt-4 mb-4" v-for="instopic in store.explore" :key="instopic.id">
				<div class="card">
					<img :src="instopic.picture" class="card-img-top" alt="instopic">
					<div class="card-header">
						<div class="row">
							<div class="col d-flex flex-row align-items-center">
								<img :src="instopic.avatar" class="card-img-top p-2" alt=""
									style="float:left; width:50px; height:50px; border-radius: 50%;">
								<span class="card-text text-black-50 mr-4 p-2">{{ instopic.name }}</span>
							</div>
							<div class="col d-flex flex-row align-items-center">
								<div class="card-text p-2">{{ instopic.description }}</div>
							</div>
							<div class="col text-center d-flex flex-row align-items-center justify-content-end">
								<a class="btn btn-primary mr-2 p-2" data-toggle="collapse" :href=`#collapse${instopic.id}` role="button"
									aria-expanded="false" :aria-controls=`collapse${instopic.id}`>Comment</a>
								<button @click="follow(instopic.user_id)" class="btn btn-primary mr-2 p-2" style="float:right;"><i
										class="fas fa-user-minus"></i></button>
								<button @click="like(instopic.id)" class="btn btn-success mr-2 p-2" style="float:right;"><i
										class="fas fa-thumbs-up mr-2"></i><span
										class="badge badge-light">{{ instopic.likes.length }}</span></button>
								<button @click="dislike(instopic.id)" class="btn btn-warning p-2" style="float:right;"><i
										class="fas fa-thumbs-down mr-2"></i><span
										class="badge badge-light">{{ instopic.dislikes.length }}</span></button>
							</div>
						</div>
					</div>
					<div class="card-body text-center">
						<div class="row">
							<div class="col">
								<span class="card-text text-black-50 mr-4 p-2">Add new comment</span>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<form class="mt-2" @submit.prevent="submitComment(instopic.name, instopic.id)">
									<div class="input-group mb-3">
										<input type="text" class="form-control" :placeholder=`${instopic.name}`
											:aria-label=`${instopic.name}` :aria-describedby=`commentField${instopic.id}`
											v-model="formComment.commentValue">
										<div class="input-group-append">
											<button class="btn btn-outline-secondary" type="submit"
												:id=`commentField${instopic.id}`>Button</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="collapse mt-2" :id=`collapse${instopic.id}`>
							<!-- <div class="text-center" v-if="instopic.comments.length == 0">
								<p>No comments</p>
							</div>
							<div v-else="instopic.comments.length > 0"></div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'waterfall', 'data-turbolinks-track': 'reload',
'type': 'module' %>