<div id="profile">
	<header>
		<div class="container">
			<div class="profile">
				<div class="profile-image">
					<img :src="store.user.avatar" alt="" width="150" height="150" />
				</div>

				<div class="profile-user-settings">
					<h5 class="profile-user-name">
						{{
							store.user.name
								? store.user.name
								: "You don't have name edit your profile"
						}}
					</h5>
					<button class="btn profile-edit-btn">Edit Profile</button>
				</div>

				<div class="profile-stats">
					<ul>
						<li>
							<span class="profile-stat-count">{{
								store.user.instopics.length
							}}</span>
							posts
						</li>
						<li>
							<span class="profile-stat-count">{{
								store.user.followersCount
							}}</span>
							followers
						</li>
						<li>
							<span class="profile-stat-count">{{
								store.user.followedCount
							}}</span>
							following
						</li>
					</ul>
				</div>
			</div>
			<!-- End of profile section -->
		</div>
		<!-- End of container -->
	</header>
	<main>
		<div class="container">
			<!-- <div>{{ store.user.phone }}</div>
			<div>{{ store.user.age }}</div>
			<div>{{ store.user.sex }}</div> -->
			<div v-for="intopic in store.user.instopics">
				<img :src="intopic.picture" width="300" height="300" />
				<div>{{ intopic.description }}</div>
			</div>
			<form @submit.prevent="submitEditUser">
				<input @change="selectedUserAvatar($event)" type="file" name="avatar" />
				<input v-model="formUser.name" type="text" />
				<input v-model="formUser.age" type="number" />
				<input v-model="formUser.sex" type="text" />
				<button type="submit">Edit user</button>
			</form>
		</div>
		<!-- End of container -->
	</main>
</div>
<%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload', 'type':
'module' %>
