<div id="profile">
	<img :src="user.avatar" />
	<div>{{ user.name }}</span>
	<div>{{ user.phone }}</div>
	<div>{{ user.age }}</div>
	<div>{{ user.sex }}</div>
	<div v-for="intopic in user.instopics">
		<img :src="intopic.picture" width="300" height="300">
		<div>{{intopic.description}}</div>
	</div>
	<form @submit.prevent="submitEditUser">
		<input @change="selectedUserAvatar($event)" type="file" name="avatar" />
		<input v-model="formUser.name" type="text" />
		<input v-model="formUser.age" type="number" />
		<input v-model="formUser.sex" type="text" />
		<button type="submit">Edit user</button>
	</form>
	<form @submit.prevent="submitAddInstopic">
		<input @change="selectedInstopic($event)" type="file" name="avatar" />
		<input v-model="formUser.description" type="text" />
		<button type="submit">Add instopic</button>
	</form>
</div>
<%= javascript_include_tag 'profile', 'data-turbolinks-track': 'reload', 'type':
'module' %>
